* {
  box-sizing: border-box;
}

#app {
  font-size: 5em;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: red;

}

#header {
  background-color: #f3ca40;
  height: 35vh;
  width: 100%;

}

#middle {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
}

#nav {
  width: 100%;
  background-color: #4b4e6d;
}

#articles {
  width: 100%;
  background-color: #6a8d92;
}

#ads {
  height: 45vh;
  width: 100%;
  background-color: #f2a541;

}

#footer {
  height: 100%;
  width: 100%;
  background-color: #f08a4b;
}

@media only screen and (min-width: 650px) {

  #main {
    width: 100%;
    background-color: #4b4e6d;
    display: flex;
    flex-direction: row;
  }
  #articles {
    height: 60vh;
  }

  #ads {
    height: 60vh;
  }
}

@media only screen and (min-width: 850px) {

  #middle {
    width: 100%;
    background-color: #4b4e6d;
    display: flex;
    flex-direction: row;
  }
  #articles {
    height: 60vh;
  }

  #ads {
    height: 60vh;
    width: 20%;

  }
  #nav {
    width: 20%;
    background-color: #4b4e6d;
  }
}
